body {
	background: #6d2c7d;
	font-family: "Lucida Console", "Courier New", monospace;
}
.letra h1 {
	float: right;
}
.picture img {
	height: ;
	width: ;
	display: block;
	float: left;
}
.pos select {
	position: center;
}
.picture2 img {
	height: 80px;
	width: 130px;
	display: block;
	float: right;
	position: absolute;
}
.face img {
	height: 100px;
	width: 120px;
	display: block;
	float: left;
	position: relative;
}
.insta img {
	height: 100px;
	width: 120px;
	display: block;
	float: center;
	position: relative;
}
.whats img {
	height: 100px;
	width: 120px;
	display: block;
	float: center;
	position: relative;
}
.out img {
	height: 100px;
	width: 120px;
	display: block;
	float: center;
	position: relative;
}
.tele img {
	height: 200px;
	width: 240px;
	display: block;
	float: left;
}