body{
	background: #6d2c7d;
	font-family: "Lucida Console", "Courier New", monospace;
}

h1{
	position: 30%;
  	width: 300px;
  	height: 100px;
}
.fast img {
	height: 300px;
	width: 500px;
	margin: left;
	display: block;
	border-radius: 50%;
	float: right;
}
.contenedor img{
	margin: auto;
	display: block;
	float: left;
	height: 200px;
	width: 400px;
}
.future img {
	margin: auto;
	display: block;
	float: right;
	height: 200px;
	width: : 400px;
}